<html>
<head>
	<title>Create your perfect event</title>
	<link href="{{ asset('css/home.css') }}" rel="stylesheet" type="text/css" />
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body class="body-home">
	<div class="navbar-wrapper">
	    <div class="container-fluid">
	        <nav class="navbar navbar-fixed-top">
	            <div class="container">
	                <div class="navbar-header">
	                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
	                    <span class="sr-only">Toggle navigation</span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    <span class="icon-bar"></span>
	                    </button>
	                    <a class="navbar-brand" href="#">Logo</a>
	                </div>
	                <div id="navbar" class="navbar-collapse collapse">
	                    <ul class="nav navbar-nav">
	                        <li class="active"><a href="/home" class="">Home</a></li>
	                        <li class=" dropdown"><a href="#" class="dropdown-toggle " data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Events <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="/events">View Events</a></li>
	                                <li><a href="#">Add New</a></li>
	                            </ul>
	                        </li>
	                    </ul>
	                    <ul class="nav navbar-nav pull-right">
	                        <li class=" dropdown"><a href="#" class="dropdown-toggle active" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Signed in as  <span class="caret"></span></a>
	                            <ul class="dropdown-menu">
	                                <li><a href="#">Change Password</a></li>
	                                <li><a href="#">My Profile</a></li>
	                            </ul>
	                        </li>
	                        <li class=""><a href="#">Logout</a></li>
	                    </ul>
	                </div>
	            </div>
	        </nav>
	    </div>
	</div>
	<h1 class ="first-title">Create your event</h1>
	<div class ="subtitle-home first-subtitle">Plan spectacular events</div>
	<p class ="subtitle-home">Create an event, send invites and collect registrations in minutes.</p>
</body>
</html>                          